@page
@model Chess_club_web_app.Pages.AboutModel
@{
    ViewData["Title"] = "About Us page";
}

<div class="text-center">
    <h1>About Us</h1>

    <p class="mb-2">We're a group of students who love playing chess!</p>
    <br />
    <p class="font-weight-bold d-inline">President: </p>Kalen Sutandar<br />
    <p class="font-weight-bold d-inline">Vice President: </p>Kinan Alattar<br />
    <p class="font-weight-bold d-inline">Treasurer Leader: </p> Tyler Thomas<br />
    <p class="font-weight-bold d-inline mb-0">Advisor: </p> Kelly Bloomfield<br />
    
    <br />
    <hr />
    <br />
    
    <h2>Our Goal is to have fun!</h2>
    <p>
      We are a social club meant to create a space where students who enjoy the game can interact and form connections,
      and we are focused on creating opportunities for members to grow their interest in chess by learning and competing.
      That goal is what determines the success or failure of our club. At this point in time, school is likely the main 
      focus of each person that attends club and improvement is an afterthought even for serious players. 
      The reason we come to club is to have fun.
    </p>
</div>