@page
@model Chess_club_web_app.Pages.AboutModel
@{
    ViewData["Title"] = "About Us page";
}

<div class="text-center">
    <h1>About Us</h1>

    <p class="mb-2">We're a group of students who love playing chess!</p>
    <br />
    <p class="font-weight-bold d-inline">President: </p>Kalen Sutandar<br />
    <p class="font-weight-bold d-inline">Vice President: </p>Kinan Alattar<br />
    <p class="font-weight-bold d-inline">Treasurer Leader: </p> Tyler Thomas<br />
    <p class="font-weight-bold d-inline mb-0">Advisor: </p> Kelly Bloomfield<br />
</div>