@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-2">Welcome to our Chess Club</h1>
    <p> We meet every Thursday from 6-8pm</p>
    <div class="card bg-dark text-white mb-5">
        <img class="card-img" src="~/chess-image-chess-club.jpeg" alt="Generic Chess image">
        <div class="card-img-overlay">
            <h5 class="card-title">Upcoming Event: Challenge a Champion!</h5>
            <p class="card-text">This Sunday we will have the Chess Master Calvin
            Blocker join us virtually over Zoom to lecture and play against our players</p>
            <p>The event will take place Sunday Oct 18th from 2-5pm! - No Entry Fee is required for Non-OSU students</p>
        </div>
    </div>
    <p>Follow us on</p>
    <a href="https://twitter.com/ohiostatechess?lang=en" class="btn btn-social-icon btn-twitter">
        <i aria-hidden="true" class="fa fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/groups/chessclubatosu" class="btn btn-social-icon btn-facebook">
        <i aria-hidden="true" class="fa fa-facebook"></i>
    </a>
    <a href=" https://discord.gg/hanpFv" class="btn btn-social-icon btn-discord">
        <i aria-hidden="true" class="fa fa-discord"></i>
    </a>
    <a href=" https://www.chess.com/club/ohio-state-buckeyes-chess-club" class="btn">
        <span>
            <img src="~/Chess-com-logo.webp" width="16" height="16" alt="Chess.com Logo" />
        </span>
    </a>
</div>
